    .header1{
 background-color:grey;
 width: 100%;
 height: 11%;

    }

    .input10{
        
        font-size:20px;
        color:white;
        background-color:grey;
        padding:0.8% 0.4%;
        border:0px;
    

        margin-left:40px;
        float:center;
        transition-duration: 0.4s;
        cursor: pointer;
        border-radius: 25px;
        border-color:white;
        
  
    
    }
    .input10:hover{
         background-color: #4CAF50;
  color: white;
    }