   body{
        text-align:center;

        }
        .p1{
            font-size:60px;
            color:black;

           
        }
        .p2{
            font-size:30px;
            color:#FFA485;

           
        }